# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Build products
build/
DerivedData/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# macOS
.DS_Store

# Other
*.swp
*.lock